body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 0.21612394957983194) 35%,
    rgba(3, 148, 255, 0.4514180672268907) 100%
  );
}

nav {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 0 1em rgb(151, 150, 150);
}

nav .nav-link {
  color: black !important;
  border-radius: 10px;
  transition: 1s color, 1.5s background-color;
}

nav .nav-link:hover {
  color: white !important;
  background: rgb(105, 105, 184);
  border-radius: 10px;
}

nav .nav-link:visited {
  background: rgb(105, 105, 184);
}

form.cadastro {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 1em rgb(151, 150, 150);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

form h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.card {
  display: inline-block;
  box-shadow: 0 0 1em rgb(151, 150, 150);
}
