<%-include('../layouts/header');-%>

<main class="container">

        <h4>Aplicação feita em: </h4>
        <li>NodeJS</li>
        <li>Typescript</li>
        <li>Express</li>
        <li>EJS</li>
        <li>BODY-PARSER</li>
        <li>UUID</li>
        <li>MVC</li>
</main>

<%-include('../layouts/footer');-%>