<%-include('../layouts/header');-%>

<form class="cadastro container" action="/admin/add-product" method="POST">
    <h3>Adicione um livro</h3>
    <br />
    <div class="form-group">
        <label for="title">
            <h5>Title</h5>
        </label>
        <input class="form-control" type="text" name="title" id="title" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="imageURL">
            <h5>Image URL</h5>
        </label>
        <input class="form-control" type="text" name="imageURL" id="imageURL" placeholder="Image URL">
    </div>

    <div class="form-group">
        <label for="price">
            <h5>Price</h5>
        </label>
        <input class="form-control" type="number" name="price" id="price" placeholder="Price" step="0.01">
    </div>

    <div class="form-group">
        <label for="description">
            <h5>Descrição</h5>
        </label>
        <textarea class="form-control" name="description" id="description" rows="3" placeholder="Descrição"></textarea>
    </div>

    <button class='btn btn-success' type="submit">Adicionar</button>

</form>


<%-include('../layouts/footer');-%>